<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.business.mapper.DefinitionNodeMapper">
    
    <resultMap type="DefinitionNode" id="DefinitionNodeResult">
        <result property="id"    column="id"    />
        <result property="definitionInfoId"    column="definition_info_id"    />
        <result property="nodeKey"    column="node_key"    />
        <result property="nodeDescription"    column="node_description"    />
    </resultMap>

    <sql id="selectDefinitionNodeVo">
        select id, definition_info_id, node_key, node_description from t_definition_node
    </sql>

    <select id="selectDefinitionNodeList" parameterType="DefinitionNode" resultMap="DefinitionNodeResult">
        <include refid="selectDefinitionNodeVo"/>
        <where>  
            <if test="nodeKey != null  and nodeKey != ''"> and node_key = #{nodeKey}</if>
        </where>
    </select>
    
    <select id="selectDefinitionNodeById" parameterType="Long" resultMap="DefinitionNodeResult">
        <include refid="selectDefinitionNodeVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertDefinitionNode" parameterType="DefinitionNode" useGeneratedKeys="true" keyProperty="id">
        insert into t_definition_node
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="definitionInfoId != null">definition_info_id,</if>
            <if test="nodeKey != null">node_key,</if>
            <if test="nodeDescription != null">node_description,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="definitionInfoId != null">#{definitionInfoId},</if>
            <if test="nodeKey != null">#{nodeKey},</if>
            <if test="nodeDescription != null">#{nodeDescription},</if>
         </trim>
    </insert>
    <insert id="addRelation">
        insert into t_definition_auditor (node_id, user_id) VALUES
        <foreach collection="auditors" item="userId" separator=",">
            (#{id},#{userId})
        </foreach>
    </insert>

    <update id="updateDefinitionNode" parameterType="DefinitionNode">
        update t_definition_node
        <trim prefix="SET" suffixOverrides=",">
            <if test="definitionInfoId != null">definition_info_id = #{definitionInfoId},</if>
            <if test="nodeKey != null">node_key = #{nodeKey},</if>
            <if test="nodeDescription != null">node_description = #{nodeDescription},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDefinitionNodeById" parameterType="Long">
        delete from t_definition_node where id = #{id}
    </delete>

    <delete id="deleteDefinitionNodeByIds" parameterType="String">
        delete from t_definition_node where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <delete id="deleteRelationByNodeId">
        delete from t_definition_auditor where node_id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>